@(alarms: List[Alarm], alarmForm: Form[Alarm]) 
@* alarms and alarmForm are the 2 inputs to this template, where 
alarms is of the type List[Alarm] and alarmForm of the type Form[Alarm]*@

@* template can not be started with a comment *@

@import helper._
@import play.api.libs.json._ 

@main("Alarm list") {


<script type="text/javascript" charset="utf-8" src="@routes.Application.wsJs()"></script>
    <script id="showInfoScripts" language="javascript" type="text/javascript">

   /*function assignAlarm(alarmIndex){

       $("#assignInputAttendant").val("Karin");
       $("#assignInputAlarm").val(alarmIndex);
       $("#assignForm").submit();
	    
   }*/

   // on start
   $(document).ready(function () {initApplication()});

   function selectOpenAlarm(alarmIndex,calleeIndex) {

       // highlight the alarm
       var currentSelected = $('#Alarm' + alarmIndex);
       currentSelected.toggleClass("active");

	   $.getJSON("/pastAlarmsFromCalle/" + calleeIndex,
		          function(data) {
		              // TODO: check if the json is full before creating the table
		              $("#calleeLogTableDiv").empty();
		              var htmlTable = '<table class="table"><thead><tr><td>date</td><td>hour</td><td>type</td></tr></thead><tbody>';
		              // TODO: validate the json
		              // data is a JSON list, so we can iterate over it
		              var array = data.alarmArray;
		              for(var i in array){
						var day = array[i].day;
						var hour = array[i].hour;
						var type = array[i].type;
						htmlTable+= '<tr><td> ' + day + ' </td><td> ' + hour + ' </td><td> ' + type + ' </td></tr>'; 
					  }
		              htmlTable+= "</tbody></table>";
		              $("#calleeLogTableDiv").html(htmlTable);
		       });
	   
	   //populateAlarmInfo(alarmIndex);
	   $('#callee_info_modal').modal("show");
	   $('#confirmCalleeModalButton').unbind("click").click(function(e) {
		   assignAlarm(alarmIndex);
		});
			   
    };
    
    function selectMyAlarm(alarmIndex) {
        // TEMPORARY CODE
    	assignAlarm(alarmIndex); // TODO: change this to a simple select of alarm instead of assign
     };


    </script>



 <div class="container-fluid">
    <div class="row" id="arrowHeaders">
            <div class="col-md-3"><h2 id="receptionArrowHeader" class="selected_arrow_box">&nbsp Incident Reception</h2></div>
            <div class="col-md-3"><h2 id="registrationArrowHeader" class="nonselected_arrow_box">&nbsp Registration</h2></div>
            <div class="col-md-3"><h2 id="assesmentArrowHeader" class="nonselected_arrow_box">&nbsp Assessment</h2></div>
            <div class="col-md-3"><h2 id="closingArrowHeader" class="nonselected_arrow_box">&nbsp Actions and Closing</h2></div>
    </div>
    <div class="row">
     <section id="allListsSection" class="col-md-3 alarmListSection">

	    <!-- <h2>@alarms.size() alarm(s)</h2>-->
	    <div id="unassignedAlarmDiv"  >
	    <h3>Unassigned Incidents</h3>
			<div class="list-group" id="unassignedAlarmList" style="overflow-y: scroll; height: auto; max-height: 300px;"> <!--index would reference to the iteration index, but we are not using it--> 
			@for((alarm,index) <- alarms.zipWithIndex){
	            @if(null == alarm.attendant){
				    <a href="#" idnum="@{alarm.id}" id="Alarm@{alarm.id}"  onclick="selectOpenAlarm(@{alarm.id},@{alarm.callee.id} );return false;" class="list-group-item alarmItem">
				    <!-- <i class="icon-fire pull-left"></i> -->
				    <img src="@routes.Assets.at("images/" + alarm.`type` + ".png")" class="img-thumbnail pull-left" width="48" height="48"/>
				    @if(null != alarm.expired && true == alarm.expired){
				        <img  src="@routes.Assets.at("images/clock.png")" class="img-thumbnail pull-left clock-icon" width="48" height="48"/>
				    }
				    <h4 class="list-group-item-heading">@{alarm.id}, arrived at @alarm.openingTime.format("dd/MM HH:mm") </h4>
				    <p class="list-group-item-text">Callee @{alarm.callee.phoneNumber} ;</p>
				  </a>
				 }
			 }  
			</div>
	   </div>
		<div id="assignedAlarmDiv">
			<h3>My Incidents</h3>
			<div class="list-group" id="assignedAlarmList" style="overflow-y: scroll; height: auto; max-height: 300px;"> <!--index would reference to the iteration index, but we are not using it--> 
	        @for((alarm,index) <- alarms.zipWithIndex){
	            @if((null != alarm.attendant) && (alarm.attendant.username == "Karin") && (null == alarm.dispatchingTime)){
	                    <a href="#" idnum="@{alarm.id}" id="Alarm@{alarm.id}" onclick="selectMyAlarm(@{alarm.id});return false;" class="list-group-item alarmItem">               
	                <!-- <i class="icon-fire pull-left"></i> -->
	                <img src="@routes.Assets.at("images/" + alarm.`type` + ".png")" class="img-thumbnail pull-left" width="48" height="48"/>
	                                @if(null != alarm.expired && true == alarm.expired){
	                    <img  src="@routes.Assets.at("images/clock.png")" class="img-thumbnail pull-left clock-icon" width="48" height="48"/>
	                }
	                <h4 class="list-group-item-heading">@{alarm.id}, arrived at @alarm.openingTime.format("dd/MM HH:mm")</h4>
	                <p class="list-group-item-text">Callee @{alarm.callee.phoneNumber} ;</p>
	              </a>
	             }
	         }  
	        </div>
	    </div>
	     <div id="followupAlarmDiv">
            <h3>Incidents to Follow-up</h3>
            <div class="list-group" id="followupAlarmList" style="overflow-y: scroll; height: auto; max-height: 300px;">  
            @for((alarm,index) <- alarms.zipWithIndex){
                @if((null != alarm.attendant) && (alarm.attendant.username == "Karin") && (null != alarm.dispatchingTime)){
                        <a href="#" idnum="@{alarm.id}" id="Alarm@{alarm.id}" onclick="selectFollowUpAlarm(@{alarm.id});return false;" class="list-group-item alarmItem">               
                    <!-- <i class="icon-fire pull-left"></i> -->
                    <img src="@routes.Assets.at("images/" + alarm.`type` + ".png")" class="img-thumbnail pull-left" width="48" height="48"/>
                                    @if(null != alarm.expired && true == alarm.expired){
                        <img  src="@routes.Assets.at("images/clock.png")" class="img-thumbnail pull-left clock-icon" width="48" height="48"/>
                    }
                    <h4 class="list-group-item-heading">@{alarm.id}, arrived at @alarm.openingTime.format("dd/MM HH:mm")</h4>
                    <p class="list-group-item-text">Callee @{alarm.callee.phoneNumber} ;</p>
                  </a>
                 }
             }  
            </div>
        </div>
		
	</section>
    
    
    <section class="col-md-3 detailsSection">

    	<div id="details"/>

    	    @requestInfoFrame()
    </section>
     <section class="col-md-3 assesmentSection">
        <div id="assesment">
			 <ul class="nav nav-tabs">
				  <li id="nmiNav" class="active"><a href="#nmiTab" data-toggle="tab">NMI</a></li>
				  <li id="sensorNav" ><a id="sensorTablink" href="#sensorTab" data-toggle="tab">Sensor</a></li>
				  <li id="infoNav"><a id="infoTablink" href="#infoTab" data-toggle="tab">OBS!</a></li>
			 </ul>
			 <div class="tab-content">
	               <div class="tab-pane active" id="nmiTab" >
	                    <table class="table"><tbody>	               
						    <tr><td>Is the patient conscious?          </td><td>  <label class="radio-inline"><input type="radio" name="NMIcheckBox1radio" id="NMIcheckBox1Y" value="Patient is conscious">Yes</label>  </td><td><label class="radio-inline"><input type="radio" name="NMIcheckBox1radio" id="NMIcheckBox1N" value="Patient is not conscious">No</label>       </td></tr>
						    <tr><td>Is the patient breathing normally? </td><td>  <label class="radio-inline"><input type="radio" name="NMIcheckBox2radio" id="NMIcheckBox2Y" value="Patient breaths normly">Yes</label></td><td><label class="radio-inline"><input type="radio" name="NMIcheckBox2radio" id="NMIcheckBox2N" value="Patient does not breath normly">No</label> </td></tr>    
						    <tr><td>Can the patient move?              </td><td>  <label class="radio-inline"><input type="radio" name="NMIcheckBox3radio" id="NMIcheckBox3Y" value="Patient can move">Yes</label>      </td><td><label class="radio-inline"><input type="radio" id="NMIcheckBox3N" name="NMIcheckBox3radio" value="Patient cant move">No</label>              </td></tr>
						    <tr><td>Can the patient stand up?          </td><td>  <label class="radio-inline"><input type="radio" name="NMIcheckBox4radio" id="NMIcheckBox4Y" value="Patient can stand up">Yes</label>  </td><td><label class="radio-inline"><input type="radio" id="NMIcheckBox4N" name="NMIcheckBox4radio" value="Patient cant stand up">No</label>          </td></tr>
						    <tr><td>Can the patient talk?              </td><td>  <label class="radio-inline"><input type="radio" name="NMIcheckBox5radio" id="NMIcheckBox5Y" value="Patient can talk">Yes</label>      </td><td><label class="radio-inline"><input type="radio" id="NMIcheckBox5N" name="NMIcheckBox5radio" value="Patient cant talk">No</label>              </td></tr>
					    </tbody></table>
				  </div>
				  <div class="tab-pane" id="infoTab" >
					<div class="panel panel-default">
					  <div class="panel-body">
					    The patients is alergic to gluten <p>
					    The password to the entrance gate is 9456
					  </div>
					</div>
				  </div>
	              <div class="tab-pane" id="sensorTab" >
	                     <img src="/assets/images/graph.png" class="img-responsive"/>
	              </div>
              </div>
               <div id="assementLogsDiv">
                    <u>Log:</u>
                    <div class="panel panel-default">
                      <div id="assesmentLogPanel" class="panel-body">
                        <div class="logLabel" id="NMIassesmentLabel"> NMI assessment</div>
                        <div class="logLabel" id="NMIcheckBox1Ylabel"> Patient is conscious</div>
                        <div class="logLabel" id="NMIcheckBox2Ylabel"> Patient breaths normally</div>    
                        <div class="logLabel" id="NMIcheckBox3Ylabel"> Patient can move</div>
                        <div class="logLabel" id="NMIcheckBox4Ylabel"> Patient can stand up</div>
                        <div class="logLabel" id="NMIcheckBox5Ylabel"> Patient can talk</div>
                        <div class="logLabel" id="NMIcheckBox1Nlabel"> Patient is not conscious</div>
                        <div class="logLabel" id="NMIcheckBox2Nlabel"> Patient doesnt breath normally</div>    
                        <div class="logLabel" id="NMIcheckBox3Nlabel"> Patient cant move</div>
                        <div class="logLabel" id="NMIcheckBox4Nlabel"> Patient cant stand up</div>
                        <div class="logLabel" id="NMIcheckBox5Nlabel"> Patient cant talk</div>
                        <div class="logLabel" id="assedmentSensorlabel"> Sensor information checked</div>
                        <div class="logLabel" id="informationSensorlabel"> Patient information checked</div>
                      </div>
                    </div>
               </div>
              <div id="assementNotesDiv">
                   <br>
                  <u>Notes:</u>
				    <textarea id="assesmentNotesBox" class="form-control" rows="5"></textarea>
				    <button id="closeCaseFromAssessButton" type="button" class="btn btn-default">Save and Close Case</button>
				    <button id="goToClosingButton" type="button" class="btn btn-default">Save and go to Actions</button>
              </div>
	   </div>
    </section>  
    
     <section id="dispatchArea" class="col-md-3  dispatchSection">
          @dispatchFrame()
    </section>
    

    
  </div>


               <!-- This is Bootstrap's modal popup plugin. Used to populate the response
                      by clicking on the button TODO: peharps move it to a template -->
                      
                  <div class="modal fade" id="callee_info_modal">
                  <div class="modal-dialog"><div class="modal-content">
					  <div class="modal-body" >
					    Do you want to handle this request?&nbsp;&nbsp;
					    <a href="#" class="btn" data-dismiss="modal">No</a>
					    <a href="#" id="confirmCalleeModalButton" class="btn btn-primary" data-dismiss="modal">Yes</a>
					      <p/>
					      <div id="calleeLogTableDiv"/>
					  </div>
					  </div></div>                               
                </div>
                
 

    
}