@* notesAndCloseTemplate Template File *@

 <script id="notesFrameScripts" language="javascript" type="text/javascript">

/* on load function */
$(function(){
    $("#closeCaseFromPatientRegButton").click(closeCaseAtRegistration);
    $("#goToAssesmentButton").click(fromRegistrationToAssesment);
}); 


</script>


@import helper._
<div id="notesDiv">
	<u>Notes:</u>
	<textarea id="patientRegistrationNotesBox" class="form-control" rows="3"></textarea>
	<button id="closeCaseFromPatientRegButton" type="button" class="btn btn-default">Save and Close Case</button>
	<button id="goToAssesmentButton" type="button" class="btn btn-default">Save and go to Assessment</button>
</div>
