@(attendants: List[AlarmAttendant], attendantForm: Form[AlarmAttendant], apiKeys: List[ApiKey], apiKeyForm: Form[ApiKey])
@* alarms and alarmForm are the 2 inputs to this template, where 
alarms is of the type List[Alarm] and alarmForm of the type Form[Alarm]*@

@* template can not be started with a comment *@

@import helper._

@main("Attendants") {
    <div class="container">
        <h1>User administration</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h3>Add a new user</h3>
                @form(routes.AttendantController.newAttendant()) {
                    @if(attendantForm.hasGlobalErrors) {
                        <p><i>attendantForm.globalError.message</i></p>
                    }
                    <div class="form-group">
                        @inputText(attendantForm("username"), 'class -> "form-control", '_label -> "Username *")
                    </div>
                    <div class="form-group">
                        @inputPassword(attendantForm("password"), 'class -> "form-control", '_label -> "Password *")
                    </div>
                    <div class="form-group">
                        @select(attendantForm("role"), options = Seq(
                            "" + AlarmAttendant.ADMINISTRATOR -> "Administrator",
                            "" + AlarmAttendant.ATTENDANT -> "Attendant",
                            "" + AlarmAttendant.FIELDOPERATOR -> "Field Operator",
                            "" + AlarmAttendant.API_FULL -> "API Full",
                            "" + AlarmAttendant.API_MEDIUM -> "API Medium",
                            "" + AlarmAttendant.API_BASIC -> "Api Basic"
                        ), 'class -> "form-control",
                        '_label -> "User role *")
                    </div>

                    <input type="submit" value="Create" class="btn btn-primary" />
                }
                <br />
                <p>* Required fields</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">
                <h3>Users (@attendants.size())</h3>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th class="text-right">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(attendant <- attendants) {
                        <tr>
                            <td>@attendant.id</td>
                            <td>@attendant.username</td>
                            <td>
                            @if(attendant.role == AlarmAttendant.ADMINISTRATOR) {
                                Administrator
                            } else { @if(attendant.role == AlarmAttendant.ATTENDANT) {
                                Attendant
                            } else { @if(attendant.role == AlarmAttendant.FIELDOPERATOR) {
                                Field Operator
                            } else { @if(attendant.role == AlarmAttendant.API_FULL) {
                                Full API Access
                            } else { @if(attendant.role == AlarmAttendant.API_MEDIUM) {
                                Medium API Access
                            } else { @if(attendant.role == AlarmAttendant.API_BASIC) {
                                Basic API Access
                            }}}}}}</td>
                            <td class="text-right">@form(routes.AttendantController.deleteAttendant(attendant.id)) {
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            }</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <h2>API Keys</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Add new</h3>
                @form(routes.AttendantController.newApiKey()) {
                    @if(apiKeyForm.hasGlobalErrors) {
                        <p><i>apiKeyForm.globalError.message</i></p>
                    }
                    <div class="form-group">
                    @select(attendantForm("user"), options = options(attendants.map(v => v.username)), 'class -> "form-control", '_label -> "User *")
                    </div>

                    <input type="submit" value="Create" class="btn btn-primary" />
                }
            </div>
            <div class="col-md-8">
                <h3>Overview</h3>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Key</th>
                            <th class="text-right">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(key <- apiKeys) {
                        <tr>
                            <td>@key.id</td>
                            <td>@key.user.username</td>
                            <td>@key.key</td>
                            <td>@form(routes.AttendantController.deleteApiKey(key.id)) {
                                <input type="submit" value="Delete" class="btn btn-danger pull-right" />
                            }</td>
                        </tr>
                    }</tbody>
                </table>
            </div>
        </div>
    </div>
}