@* calleInfoTemplate Template File *@
@import play.i18n._

<div id="calleeBox" class="row">
    <div class="well well-sm">
        <h4 >
        @Messages.get("listitem.callee")</h4>
        <p>
            <i class="glyphicon glyphicon-user"></i>  <span id="calleeName"> </span>
            <br />
            <i class="glyphicon glyphicon-home"></i> <span id="calleeAddress"> </span>
            <br />
            <i class="glyphicon glyphicon-phone"></i> <span id="calleePhone"> </span>
            <br />
    </div>
</div>
