@* calleInfoTemplate Template File *@
@(callee: Callee)

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4">
            <div class="well well-sm">
                <h4 >
                    Callee</h4>
                <p>
                    <i class="glyphicon glyphicon-user"></i>@callee.name
                    <br />
                    <i class="glyphicon glyphicon-home"></i>@callee.address
                    <br />
                    <i class="glyphicon glyphicon-phone"></i>@callee.phoneNumber
                    <br />
            </div>
        </div>
    </div>
</div>