@* dispatchFrame Template File *@


@import helper._




    <div id="staticPhoneNumbers" class="row">
        <h3>Distress Numbers</h3>
        <div class="well well-sm">
                <div class="dispatcherTags">Police
                <button type="button" class="btn btn-default dispatch-ring-btn">Ring</button>
                <button type="button" class="btn btn-default dispatch-send-btn">Send</button></div>
        </div>
        <div class="well well-sm">
                <div class="dispatcherTags">AMK
                <button type="button" class="btn btn-default dispatch-ring-btn">Ring</button>
                <button type="button" class="btn btn-default dispatch-send-btn">Send</button></div>
        </div>
        <div class="well well-sm">
                <div class="dispatcherTags">Fireman
                <button type="button" class="btn btn-default dispatch-ring-btn">Ring</button>
                <button type="button" class="btn btn-default dispatch-send-btn">Send</button></div>
        </div>
        <!--  <div class="well well-sm">
                <div class="dispatcherTags">Alarm Central Ambulance
                <button type="button" class="btn btn-default dispatch-btn">Ring</button>
                <button type="button" class="btn btn-default dispatch-btn">Send</button></div>
        </div>-->
        
        
    </div>
    
    <div id="extraActionButtonsDiv" class="row">
	    <div id="dynamicButtonsDiv" class="btn-group-vertical">
		  <button type="button" class="btn btn-default">Hjemmesykepleien</button>
		  <button type="button" class="btn btn-default">TP</button>
		  <button type="button" class="btn btn-default">Legevakt</button>
		  <button type="button" class="btn btn-default">Ambulerende</button>
		  <button type="button" class="btn btn-default">Kontaktpersoner</button>
	    </div>
	   <button id="closeCaseActionsButton" type="button" class="btn btn-default">Close Case</button>
       <button id="saveAndFollowUpButton" type="button" class="btn btn-default">Save and follow up</button>
	    
    </div>
