@(alarms: List[Alarm], alarmForm: Form[Alarm], selectedAlarm: Alarm) 
@* alarms and alarmForm are the 2 inputs to this template, where 
alarms is of the type List[Alarm] and alarmForm of the type Form[Alarm]*@

@* template can not be started with a comment *@

@import helper._
@import play.api.libs.json._ 

@main("Alarm list") {

@* todo: move this         // $("#patientName").text(@{alarms(index).Patient.name}); *@  

<script type="text/javascript" charset="utf-8" src="@routes.Application.wsJs()"></script>
    <script id="showInfoScripts" language="javascript" type="text/javascript">

   function populateAlarmInfo(alarmIndex){

       $("#assignInputAttendant").val("Karin");
       $("#assignInputAlarm").val(alarmIndex);
       $("#assignForm").submit();
	   
	   //myJsRoutes.controllers.Application.assignAlarm(alarmIndex, "Karin").ajax({});
   /*    myJsRoutes.controllers.Application.getAlarm(alarmIndex).ajax({
           success : function(data) { $("#details").html(data); }
         });*/
   }

   function selectAlarm(alarmIndex,calleeIndex) {

	   $.getJSON("/pastAlarms/" + calleeIndex,
		          function(data) {
		              // TODO: check if the json is full before creating the table
		              $("#calleeLogTableDiv").empty();
		              var htmlTable = '<table class="table"><thead><tr><td>date</td><td>hour</td></tr></thead><tbody>';
		              // TODO: validate the json
		              // data is a JSON list, so we can iterate over it
		              var array = data.alarmArray;
		              for(var i in array){
						var day = array[i].day;
						var hour = array[i].hour;
						htmlTable+= '<tr><td> ' + day + ' </td><td> ' + hour + ' </td></tr>'; 
					  }
		              htmlTable+= "</tbody></table>";
		              $("#calleeLogTableDiv").html(htmlTable);
		       });
	   
	   //populateAlarmInfo(alarmIndex);
	   $('#callee_info_modal').modal("show");
	   $('#confirmCalleeModalButton').click(function(e) {
		   populateAlarmInfo(alarmIndex);
		});
			   
    };
    
    

    </script>
    

    <header>
    	<h1> EMHT </h1>
    </header>

 <div class="collumnsContainer">    
    <div> <section class="alarmListSection">
	    <h2>@alarms.size() alarm(s)</h2>
	    
		<div class="list-group" id="unassignedAlarmList"> <!--index would reference to the iteration index, but we are not using it--> 
		@for((alarm,index) <- alarms.zipWithIndex){
            @if(null == alarm.attendant){
			    <a href="#" onclick="selectAlarm(@{alarm.id},@{alarm.callee.id} );return false;" class="list-group-item">
			    <!-- <i class="icon-fire pull-left"></i> -->
			    <img src="@routes.Assets.at("images/" + alarm.`type` + ".png")" class="img-thumbnail pull-left" width="48" height="48"/>
			    <h4 class="list-group-item-heading">@{alarm.id} of type @{alarm.`type`} </h4>
			    <p class="list-group-item-text">Callee @{alarm.callee.phoneNumber} ;Patient @{alarm.patient.personalNumber} </p>
			  </a>
			 }
		 }  
		</div>
		<div class="list-group" id="assignedAlarmList"> <!--index would reference to the iteration index, but we are not using it--> 
        @for((alarm,index) <- alarms.zipWithIndex){
            @if((null != alarm.attendant) && (alarm.attendant.username == "Karin")){
                <a href="#" onclick="selectAlarm(@{alarm.id},@{alarm.callee.id} );return false;" class="list-group-item">
                <!-- <i class="icon-fire pull-left"></i> -->
                <img src="@routes.Assets.at("images/" + alarm.`type` + ".png")" class="img-thumbnail pull-left" width="48" height="48"/>
                <h4 class="list-group-item-heading">@{alarm.id} of type @{alarm.`type`} </h4>
                <p class="list-group-item-text">Callee @{alarm.callee.phoneNumber} ;Patient @{alarm.patient.personalNumber} </p>
              </a>
             }
         }  
        </div>
		
	</section></div> 
    
    
    <div> <section class="detailsSection">
    	<h2>Info</h2>
    	<div id="details"/>
    	@if(null != selectedAlarm){
    	    @requestInfoFrame(selectedAlarm);
    	}
    	@form(action = routes.Application.assignAlarm(), 'id -> "assignForm") {
            <input id="assignInputAlarm" type="hidden" name="alarmId" value=""/>
            <input id="assignInputAttendant" type="hidden" name="attendantUserName" value=""/>		
		} 
    </section></div> 
    
    <div> <section class="actionSection">
 		<h2>Add a new alarm</h2>
	    
	    @form(routes.Application.newAlarm()) {
	        
	        @inputText(alarmForm("type")) 
	        @inputText(field = alarmForm("callee.phoneNumber"), '_label -> "Callee PhoneNumber") 
	        @inputText(field = alarmForm("callee.name"), '_label -> "Callee Name") 
	        @inputText(field = alarmForm("patient.name"), '_label -> "Patient Name")
	        @inputText(field = alarmForm("patient.personalNumber"), '_label -> "Patient Personal Number")
	        
	        <input type="submit" value="Create">
	        
	    }
    </section></div> 
    
  </div>


               <!-- This is Bootstrap's modal popup plugin. Used to populate the response
                      by clicking on the button TODO: peharps move it to a template -->
                      
                  <div class="modal fade" id="callee_info_modal">
                  <div class="modal-dialog"><div class="modal-content">
					  <div class="modal-body" >
					    Do you want to handle this request?&nbsp;&nbsp;
					    <a href="#" class="btn" data-dismiss="modal">No</a>
					    <a href="#" id="confirmCalleeModalButton" class="btn btn-primary" data-dismiss="modal">Yes</a>
					      <p/>
					      <div id="calleeLogTableDiv"/>
					  </div>
					  </div></div>                               
                </div>
                
                             <!-- Test modal -->
                      
                  <div class="modal fade" id="test_modal">
                  <div class="modal-dialog"><div class="modal-content">
                      <div class="modal-body" >
                        test
                          <p/>
                      </div>
                      </div></div>                               
                </div>    

    
}