@(form: Form[core.auth.Authentication.Login])

@import play.i18n._

@main("Login") {
<div class="container">
    @helper.form(routes.Application.authenticate, 'class -> "form-signin") {
        <h2 class="form-signin-heading">Please sign in</h2>

        @if(form.hasGlobalErrors) {
            <p style="color:red">Invalid username and/or password</p>
        }
        <div class="form-group @if(form.hasGlobalErrors) { has-error }">
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="@form("username").value" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    }
</div>
}