@import play.i18n._

<div id="patientBox" class="row">
    <div class="well well-sm">
        <h4 >
        @Messages.get("patientpane.title")</h4>
        <p>
        <div id="dynamicPatientInfo"></div>
    </div>
</div>

<!-- Add patient modal -->

<div class="modal fade" id="add_patient_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" >
                <h2> @Messages.get("patientmodal.title")</h2>
                <div class="form-group">
                    <label class="control-label" for="modalInputPatientName">@Messages.get("patientpane.name")</label>
                    <input type="text" class="form-control" id="modalInputPatientName">
                </div>
                <div class="form-group">
                    <label class="control-label" for="modalInputPatientAddress">@Messages.get("patientpane.address")</label>
                    <input type="text" class="form-control" id="modalInputPatientAddress" placeholder="@Messages.get("patientmodal.addressformat")">
                </div>
                <div class="form-group">
                    <label class="control-label" for="modalInputPatientNumber">@Messages.get("patientpane.phonenumber")</label>
                    <input type="text" class="form-control" id="modalInputPatientPhoneNumber">
                </div>
                <div class="form-group">
                    <label class="control-label" for="modalInputPatientNumber">@Messages.get("patientpane.personumber"):</label>
                    <input type="text" class="form-control" id="modalInputPatientNumber">
                </div>
                <div class="form-group">
                    <label class="control-label" for="modalInputPatientAge">@Messages.get("patientpane.age")</label>
                    <input type="text" class="form-control" id="modalInputPatientAge">
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Messages.get("button.cancel")</button>
                <a href="#" id="addPatientModalButton" class="btn btn-primary">@Messages.get("patientmodal.savebutton")</a>
            </div>
        </div>
    </div>
</div>