@* patientInfoFrame Template File *@
@(alarm: Alarm)


@import helper._

@* Caller part *@
@calleInfoTemplate(alarm.callee)

@* Patient part *@
@patientInfoTemplate(alarm.callee,alarm.patient)

<u>Notes:</u>
<textarea id="patientRegistrationNotesBox" class="form-control" rows="3"></textarea>
<button id="closeCaseFromPatientRegButton" type="button" class="btn btn-default">Save and Close Case</button>
<button id="goToAssesmentButton" type="button" class="btn btn-default">Save and go to Assessment</button>
