@(sensorReadings: List[ComponentReading])


	@import helper._;

	@main("Sensor Reading") {


		<header>
			<h1> Graph </h1>
		</header>

		<div id="placeholder" style="width: 800px; height: 400px;"></div>

		<script id="source" language="javascript" type="text/javascript">
	$(function () {
	    var options = {

	            series: {
	                lines: {show: true}
	            },
	            legend: { noColumns: 2, position: "ne" },
	            yaxis: { min: 0 },
	            xaxis: {mode: "time", timeformat: "%d/%m/%y"}
	        };

	    var data = [];
	   @for(sensorReading <- sensorReadings){
	       data.push([@sensorReading.date.getTime(),@sensorReading.value]);
       }
        $.plot(placeholder, [ { label: "Label", data: data } ], options);

	});
	</script>

		</article>
		</section>
		</div>

	}